.package-el:nth-child(2n) {
  top: 300rem;
}

.woocommerce img,
.woocommerce-page img {
  height: 120% !important;
}

.w-richtext section {
  padding-top: 144rem;
  padding-bottom: 144rem;
  padding-right: 20rem;
  padding-left: 20rem;
}

.firstdiv {
  padding-top: 0rem !important;
}

.middlediv {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.product-day-wrapper {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.product-day-wrapper h3 {
  font-size: 32rem !important;
}

.product-days-img {
  position: sticky !important;
  top: 0rem;
}

.product-days-img img {
  min-height: 100vh !important;
  object-fit: cover;
}

.relative {
  position: relative !important;
}

.elementor-divider {
  padding-top: 32rem !important;
  padding-bottom: 32rem !important;
}

.package-date-itenirary {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1 !important;
  display: inline-block;
}

.package-date-itenirary-text {
  font-size: 14rem !important;
  font-weight: 600 !important;
}

.torro-img {
  max-width: 1008rem !important;
}

.product-icon {
  max-width: 144rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media screen and (max-width: 991px) {
  .package-el:nth-child(2n) {
    top: 0rem;
  }

  .w-richtext section {
    padding-top: 96rem;
    padding-bottom: 96rem;
    padding-right: 20rem;
    padding-left: 20rem;
  }
}
