.main-wrapper {
  opacity: 0;
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
  mix-blend-mode: difference;
  right: 8px;
}
/*track*/
::-webkit-scrollbar-track {
  background-color: transparent;
  position: fixed;
  width: 0px;
  margin-right: 10px;
  right: 8px;
}
/*thumb*/
::-webkit-scrollbar-thumb {
  background: white;
  border-width: 10px;
  border-style: solid;
  right: 10px;
  position: fixed;
  border-radius: 100px;
  right: 8px;
}

body {
  overflow: overlay;
}

.navbar-menu::-webkit-scrollbar {
  display: none;
}

.richtext-article figure {
  width: 100%;
  max-width: none;
}

.w-richtext figure.w-richtext-align-fullwidth > div {
  padding-bottom: inherit;
  display: block;
}

.w-editor-edit-fade-in .main-wrapper {
  opacity: 1;
}

.weglot-container {
  display: none !important;
}

.wf-17o1b5s {
  font-size: 14px !important;
}

@media screen and (max-width: 991px) {
  .backgroundred .richtext-article a,
  .backgroundblack .richtext-article a {
    color: var(--orange);
  }

  .padding-modified {
    padding-bottom: 0rem;
  }
}
