.w-richtext section {
  padding-top: 144rem;
  padding-bottom: 144rem;
  padding-right: 20rem;
  padding-left: 20rem;
}

.elementor-container {
  max-width: 1024rem !important;
  padding: 0 !important;
}

.elementor-widget-testimonial {
  font-size: 16rem;
}
.elementor-testimonial-wrapper {
  text-align: left !important;
}

.elementor-testimonial-content {
  font-size: 1.3em !important;
  line-height: 1.5;
  margin-bottom: 20rem !important;
}

.elementor-testimonial-image {
  display: none !important;
}

.elementor-testimonial-name {
  font-color: #bf402e !important;
}

.elementor-button {
  justify-content: center !important;
  align-items: center !important;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: black;
  border-top-left-radius: 200rem !important;
  border-top-right-radius: 200rem !important;
  border-bottom-left-radius: 200rem !important;
  border-bottom-right-radius: 200rem !important;
  background-color: transparent !important;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;
  font-family: Orelo condensed;
  color: black !important;
  font-size: 24rem !important;
  padding-right: 40rem !important;
  padding-left: 40rem !important;
  padding-top: 12rem !important;
  padding-bottom: 12rem !important;
  text-align: center;
  text-transform: uppercase !important;
  margin-top: 40rem;
}

.elementor-button:hover {
  border-top-color: #bf402e;
  border-right-color: #bf402e;
  border-bottom-color: #bf402e;
  border-left-color: #bf402e;
  background-color: #bf402e !important;
  color: white !important;
}
